    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    html {
        font-size: 25px;
    }
    
    body {
        font-family: 'Luxurious Roman', cursive;
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    section {
        padding: 100px 0;
    }
    
    ul {
        list-style: none;
    }